<div class="navbar">
  <div class="navContainer">
    <span class="logo" routerLink="/home"
      ><h1 style="font-size: 30px">
        <b>Flight Management System </b
        ><mat-icon style="margin-top: 3px"> flight</mat-icon>
      </h1>
    </span>
    <div class="navItems">
      <span *ngIf="userName !== ''"
        >Hi,
        {{
          " " + userName.charAt(0).toUpperCase() + userName.substring(1)
        }}</span
      >
      <button
        class="navButton"
        routerLink="/bookPage"
        [matBadge]="noOfBookings"
      >
        Bookings
      </button>
      <button class="navButton" routerLink="/login">LogOut</button>
    </div>
  </div>
</div>

<div class="navbar">
  <div class="navContainer">
    <br />
    Find your FLights with us. <br />
    We Provide a Fast and interative method to book or cancel you flights
    whenever you want
    <br />
    <br />
    <br />
  </div>
</div>
