.headerBtn {
  background-color: #001e48;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  margin-top: -25px;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  margin-top:25px;
  width: 100%;
  max-width: 1024px;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}