<div
  class="flightitem"
  *ngIf="searchT === '' || flight.toLoc.toLowerCase().includes(searchT)"
>
  <div class="flightContainer">
    <div *ngIf="flight.title.includes('Indigo')">
      <img
        src="https://seeklogo.com/images/I/indigo-logo-EDBB4B3C09-seeklogo.com.png"
      />
    </div>
    <div *ngIf="flight.title.includes('AirAsia')">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/AirAsia_New_Logo.svg/1024px-AirAsia_New_Logo.svg.png"
      />
    </div>
    <div>
      <h2>{{ flight.title }}</h2>
      <h2>{{ "From Where: " + flight.fromLoc }}</h2>
      <h2>{{ "TakeOff at: " + flight.takeOffTime }}</h2>
    </div>
    <div>
      <h2>{{ "Company:" + flight.companyName }}</h2>
      <h2>{{ "Where To: " + flight.toLoc }}</h2>
      <h2>{{ "Landing at: " + flight.landingTime }}</h2>
    </div>

    <div>
      <button
        class="bookButton"
        routerLink="/home/{{ flight.id }}"
        [disabled]="flight.seats < 1"
        mat-raised-button
        color="primary"
        *ngIf="!route"
      >
        Book
      </button>
      <button
        class="bookButton"
        mat-raised-button
        color="primary"
        *ngIf="route"
        (click)="goToUpdate()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        class="bookButton"
        mat-raised-button
        color="primary"
        *ngIf="route && flight.id"
        (click)="DeleteFlight({ id: flight.id })"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <h2>{{ "Seats left: " + flight.seats }}</h2>
      <h2>{{ "price: " + flight.ticketPrice }}</h2>
    </div>
  </div>
  <div style="display: flex; flex-direction: row">
    <app-update-comp *ngIf="updateIsTrue" [flight]="flight"></app-update-comp>
  </div>
</div>
