<app-navbar></app-navbar>
<div class="Bookingitem">
  <div *ngIf="flights.length === 0">
    <h1 style="color: white; font-size: 300%; margin-top: 30px">
      No Flights Booked😡
    </h1>
  </div>
</div>

<div class="Bookingitem" *ngFor="let flight of flights">
  <div class="BookingContainer">
    <h2>{{ flight.title }}</h2>
    <h2>{{ "Where To: " + flight.toLoc }}</h2>

    <h2>{{ "price: " + flight.ticketPrice }}</h2>
    <button
      class="bookButton"
      *ngIf="flight.id !== undefined"
      (click)="deleteBooking(flight)"
      mat-raised-button
      color="primary"
    >
      Delete
    </button>
  </div>
</div>
