<app-navbar></app-navbar>
<div class="container">
  <div class="item">
    <button
      class="backButton"
      routerLink=".."
      mat-raised-button
      color="primary"
    >
      Back2Search
    </button>
    <button
      class="confirmButton"
      (click)="deleteSeats()"
      mat-raised-button
      color="primary"
    >
      Confirm Booking
    </button>
    <div class="displayflex">
      <div>
        <img
          src="https://seeklogo.com/images/I/indigo-logo-EDBB4B3C09-seeklogo.com.png"
        />
      </div>
      <div>
        <h1>{{ flights[0].title }}</h1>
        <h1>From Where: {{ flights[0].fromLoc }}</h1>
        <h1>Departure Time:{{ flights[0].takeOffTime }}</h1>
        <h1>Available Seats: {{ flights[0].seats }}</h1>
      </div>
      <div>
        <h1>Company:{{ flights[0].companyName }}</h1>
        <h1>Where To: {{ flights[0].toLoc }}</h1>
        <h1>Landing Time:{{ flights[0].landingTime }}</h1>
        <h1>Price: {{ flights[0].ticketPrice }}Rs</h1>
      </div>
    </div>
    <h2>Company Description:</h2>
    <h4>
      {{ flights[0].description }}
    </h4>
    <button
      class="confirmButton"
      (click)="deleteSeats()"
      mat-raised-button
      color="primary"
    >
      Confirm Booking
    </button>
  </div>
</div>
