.container{
    display: flex;
  justify-content: center;
  margin-top: 5px;;
  
}
.item{
    width: 100%;
    max-width: 1024px;
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    

    
}
.displayflex{
  display: flex;
  justify-content: space-between;
}
.confirmButton{
    margin-left: 20px;
  border: none;
  font-size: large;
  padding: 5px 10px;
  color:white;
  cursor: pointer;
  background-color: #003580;
  float: right;
}
.backButton{
    
    border: none;
    font-size: large;
    padding: 5px 10px;
    color:white;
    cursor: pointer;
    background-color: #003580;
    
}