<app-navbar></app-navbar>
<div class="container">
    
    <div class="item"   >
         
        <button class="backButton" routerLink=".." >Back To Search</button>
            <button class="confirmButton" (click)="bookingConfirm()">Confirm Booking</button>
            <h1 >{{flights[flightId].name}}</h1>
            <h1>Where To: {{flights[flightId].whereTo}}</h1>
            <h1>Price:{{flights[flightId].price}}</h1>       
            <h1>Available Seats: {{flights[flightId].seats}}</h1>
            <h1></h1>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum magnam esse quos nisi delectus ex expedita, magni est aliquid explicabo sequi, inventore assumenda a et tenetur quia autem. Ea, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis aliquid, voluptatum nisi corporis consequatur vel optio maiores ratione quod consequuntur corrupti. Doloremque totam laborum asperiores excepturi, dolorum nemo consectetur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum magnam esse quos nisi delectus ex expedita, magni est aliquid explicabo sequi, inventore assumenda a et tenetur quia autem. Ea, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis aliquid, voluptatum nisi corporis consequatur vel optio maiores ratione quod consequuntur corrupti. Doloremque totam laborum asperiores excepturi, dolorum nemo consectetur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum magnam esse quos nisi delectus ex expedita, magni est aliquid explicabo sequi, inventore assumenda a et tenetur quia autem. Ea, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis aliquid, voluptatum nisi corporis consequatur vel optio maiores ratione quod consequuntur corrupti. Doloremque totam laborum asperiores excepturi, dolorum nemo consectetur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum magnam esse quos nisi delectus ex expedita, magni est aliquid explicabo sequi, inventore assumenda a et tenetur quia autem. Ea, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis aliquid, voluptatum nisi corporis consequatur vel optio maiores ratione quod consequuntur corrupti. Doloremque totam laborum asperiores excepturi, dolorum nemo consectetur.
    
            </h3>
        </div>
    </div>
