<form #updateForm="ngForm" (ngSubmit)="onUpdateFlight(updateForm.value)">
  <div class="form">
    <mat-form-field appearance="outline" class="done">
      <mat-label>Flight ID</mat-label>
      <input
        matInput
        type="number"
        required
        ngModel
        name="id"
        [(ngModel)]="flight.id"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="done">
      <input
        matInput
        type="text"
        required
        ngModel
        name="fromLoc"
        [(ngModel)]="flight.fromLoc"
      /> </mat-form-field
    ><br />

    <mat-form-field appearance="outline" class="done">
      <mat-label>To Location</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="toLoc"
        [(ngModel)]="flight.toLoc"
      /><br />
    </mat-form-field>

    <mat-form-field appearance="outline" class="done">
      <mat-label>Name of the Flight</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="title"
        [(ngModel)]="flight.title"
      /><br /> </mat-form-field
    ><br />

    <mat-form-field appearance="outline" class="done">
      <mat-label>is it Full??</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="isFull"
        [(ngModel)]="flight.isFull"
      /><br />
    </mat-form-field>

    <mat-form-field appearance="outline" class="done">
      <mat-label>Seats Available</mat-label>
      <input
        type="number"
        matInput
        required
        ngModel
        name="seats"
        [(ngModel)]="flight.seats"
      /><br /> </mat-form-field
    ><br />

    <mat-form-field appearance="outline" class="done">
      <mat-label>Description</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="description"
        [(ngModel)]="flight.description"
      /><br />
    </mat-form-field>

    <mat-form-field appearance="outline" class="done">
      <mat-label>Company Name</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="companyName"
        [(ngModel)]="flight.companyName"
      /><br /> </mat-form-field
    ><br />

    <mat-form-field appearance="outline" class="done">
      <mat-label>Take Off Time</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="takeOffTime"
        [(ngModel)]="flight.takeOffTime"
      /><br />
    </mat-form-field>

    <mat-form-field appearance="outline" class="done">
      <mat-label>Landing Time</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="landingTime"
        [(ngModel)]="flight.landingTime"
      /><br /> </mat-form-field
    ><br />

    <mat-form-field appearance="outline" class="done">
      <mat-label>Ticket Price</mat-label>
      <input
        type="text"
        matInput
        required
        ngModel
        name="ticketPrice"
        [(ngModel)]="flight.ticketPrice"
      /><br /> </mat-form-field
    ><br />
  </div>
  <br />
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!updateForm.valid"
  >
    Update Data
  </button>
</form>
